/* screen - demographics-1 */

.demographics-1 {
  align-items: flex-start;
  background-color: var(--shark);
  display: flex;
  height: 1080px;
  line-height: 40px;
  width: 1920px;
}
.demographics-1 .applicant {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 15px;
  min-height: 58px;
  min-width: 203px;
  width: 203px;
}
.demographics-1 .continue {
  left: 57px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  width: 76px;
}
.demographics-1 .dashboard {
  left: 41px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 115px;
  white-space: nowrap;
}
.demographics-1 .documents {
  left: 41px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 322px;
  width: 108px;
}
.demographics-1 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-top: 57.5px;
  min-height: 823px;
  width: 1486px;
}
.demographics-1 .flex-row {
  align-items: flex-end;
  display: flex;
  height: 69px;
  margin-left: 0.01px;
  min-width: 1486px;
}
.demographics-1 .flex-row-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 161.5px;
  margin-top: 107px;
  min-width: 397px;
}
.demographics-1 .fox-face-logo {
  border-radius: 21px;
  height: 41px;
  left: 61px;
  object-fit: cover;
  position: absolute;
  top: 52px;
  width: 72px;
}
.demographics-1 .foxface-account {
  left: 41px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 368px;
  width: 154px;
}
.demographics-1 .group-876 {
  align-items: flex-start;
  background-color: var(--sheen-green);
  border-radius: 10px;
  display: flex;
  min-width: 188px;
}
.demographics-1 .group-876-1 {
  align-items: flex-start;
  background-color: var(--sheen-green);
  border-radius: 10px;
  display: flex;
  margin-left: 21px;
  min-width: 188px;
}
.demographics-1 .icon-awesome-search {
  height: 12px;
  margin-bottom: 7.77px;
  margin-left: 1198px;
  object-fit: cover;
  width: 12px;
}
.demographics-1 .logout {
  left: 69px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 987px;
  white-space: nowrap;
}
.demographics-1 .overlap-group {
  align-items: flex-start;
  background-image: url(../img/path-981-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 237px;
  margin-top: 0;
  min-width: 189px;
  padding: 0 0.2px;
}
.demographics-1 .overlap-group-1 {
  border-radius: 10px;
  height: 54px;
  position: relative;
  width: 188px;
}
.demographics-1 .overlap-group-2 {
  height: 1066px;
  position: relative;
  width: 279px;
}
.demographics-1 .overlap-group1 {
  height: 220px;
  margin-left: 0.01px;
  margin-top: 17px;
  position: relative;
  width: 1483px;
}
.demographics-1 .path-982 {
  align-self: center;
  height: 192px;
  object-fit: cover;
  width: 49px;
}
.demographics-1 .path-983 {
  height: 23px;
  object-fit: cover;
  width: 70px;
}
.demographics-1 .path-987 {
  height: 2px;
  margin-top: 10px;
  object-fit: cover;
  width: 1483px;
}
.demographics-1 .place {
  left: 75px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 19px;
  width: 69px;
}
.demographics-1 .rectangle-1539 {
  background-color: var(--sheen-green);
  border-radius: 10px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 188px;
}
.demographics-1 .rectangle-1539-1 {
  background-color: var(--cerulean);
  border-radius: 10px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 188px;
}
.demographics-1 .rectangle-1570 {
  background-color: var(--shark);
  box-shadow: 10px 10px 10px #00000029;
  height: 1066px;
  left: 0;
  position: absolute;
  top: 0;
  width: 194px;
}
.demographics-1 .rectangle-2 {
  background-color: var(--shark);
  border-radius: 5px;
  box-shadow: 0px 3px 26px #0000001c;
  height: 137px;
  left: 14px;
  position: absolute;
  top: 15px;
  width: 167px;
}
.demographics-1 .rectangle-2934 {
  background: linear-gradient(264.93deg, #262b2f 14.22%, rgba(0, 163, 224, 0.09) 105.8%);
  border-radius: 10px;
  height: 214px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1483px;
}
.demographics-1 .ring-chart7 {
  align-items: flex-start;
  display: flex;
  height: 237px;
  left: 41px;
  min-width: 238px;
  position: absolute;
  top: 171px;
}
.demographics-1 .save-finish-later {
  left: 21px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  width: 149px;
}
.demographics-1 .search {
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 5px;
  min-height: 25px;
  min-width: 67px;
  width: 67px;
}
.demographics-1 .text-106 {
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 3.01px;
  margin-top: 64px;
  min-height: 41px;
  width: 1418px;
}
.demographics-1 .text-107 {
  height: 199px;
  left: 36px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 21px;
  width: 1094px;
}
.demographics-1 .you-have-applied-for {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 0.01px;
  margin-top: 58px;
  min-height: 180px;
  width: 1459px;
}
