/* screen - questionnaire-4 */

.questionnaire-4 {
  align-items: flex-start;
  background-color: var(--shark);
  display: flex;
  height: 1080px;
  width: 1820px;
}
.questionnaire-4 .applicant {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 15px;
  min-height: 58px;
  min-width: 209px;
  width: 209px;
}
.questionnaire-4 .continue {
  left: 57px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  width: 76px;
}
.questionnaire-4 .dashboard {
  left: 41px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 115px;
  white-space: nowrap;
}
.questionnaire-4 .documents {
  left: 41px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 322px;
  width: 108px;
}
.questionnaire-4 .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-top: 57.5px;
  min-height: 900px;
  width: 1486px;
}
.questionnaire-4 .flex-row {
  align-items: flex-end;
  display: flex;
  height: 70px;
  margin-left: 0.01px;
  min-width: 1486px;
}
.questionnaire-4 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 42.28px;
  margin-top: 98px;
  min-width: 1128px;
}
.questionnaire-4 .flex-row-2 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 200.28px;
  margin-top: 41px;
  min-width: 669px;
}
.questionnaire-4 .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 55px;
  margin-left: 51.28px;
  margin-top: 99px;
  min-width: 1114px;
}
.questionnaire-4 .fox-face-logo {
  border-radius: 21px;
  height: 41px;
  left: 61px;
  object-fit: cover;
  position: absolute;
  top: 52px;
  width: 72px;
}
.questionnaire-4 .foxface-account {
  left: 41px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 368px;
  width: 154px;
}
.questionnaire-4 .group-876 {
  align-items: flex-start;
  background-color: var(--sheen-green);
  border-radius: 10px;
  display: flex;
  margin-left: 641px;
  min-width: 188px;
}
.questionnaire-4 .group-876-1 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--sheen-green);
  border-radius: 10px;
  display: flex;
  margin-left: 12px;
  min-width: 188px;
}
.questionnaire-4 .icon-awesome-arrow-circle-down {
  height: 35px;
  left: 87px;
  object-fit: cover;
  position: absolute;
  top: 61px;
  width: 35px;
}
.questionnaire-4 .icon-awesome-arrow-circle-up {
  height: 35px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 61px;
  width: 35px;
}
.questionnaire-4 .icon-awesome-file-contract {
  height: 36px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 51px;
  width: 27px;
}
.questionnaire-4 .icon-awesome-money-bill {
  height: 27px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 61px;
  width: 45px;
}
.questionnaire-4 .icon-awesome-search {
  height: 12px;
  margin-bottom: 9.27px;
  margin-left: 71px;
  object-fit: cover;
  width: 12px;
}
.questionnaire-4 .icon-ionic-ios-arrow-back {
  height: 24px;
  margin-top: 3.38px;
  object-fit: cover;
  width: 14px;
}
.questionnaire-4 .icon-ionic-md-chatboxes {
  align-items: flex-end;
  display: flex;
  margin-left: 809px;
  min-width: 29px;
}
.questionnaire-4 .icon-map-jewelry-store {
  height: 28px;
  left: 89px;
  object-fit: cover;
  position: absolute;
  top: 51px;
  width: 31px;
}
.questionnaire-4 .icon-material-attach-money {
  height: 27px;
  left: 101px;
  object-fit: cover;
  position: absolute;
  top: 53px;
  width: 15px;
}
.questionnaire-4 .icon-material-people-outline {
  height: 21px;
  margin-right: 1.0px;
  object-fit: cover;
  width: 33px;
}
.questionnaire-4 .icon-material-person {
  height: 24px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 53px;
  width: 24px;
}
.questionnaire-4 .logout {
  left: 69px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 987px;
  white-space: nowrap;
}
.questionnaire-4 .overlap-group {
  align-items: flex-start;
  background-image: url(../img/path-981-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 237px;
  margin-top: 0;
  min-width: 189px;
  padding: 0 0.2px;
}
.questionnaire-4 .overlap-group-1 {
  height: 197px;
  margin-left: 18px;
  position: relative;
  width: 210px;
}
.questionnaire-4 .overlap-group-2 {
  align-items: center;
  background-color: var(--shark);
  border-radius: 10px;
  box-shadow: 0px 3px 26px #00000029;
  display: flex;
  flex-direction: column;
  min-height: 197px;
  padding: 8.3px 0;
  width: 208px;
}
.questionnaire-4 .overlap-group1 {
  border-radius: 10px;
  height: 54px;
  position: relative;
  width: 188px;
}
.questionnaire-4 .overlap-group1-1 {
  height: 197px;
  margin-left: 22px;
  position: relative;
  width: 211px;
}
.questionnaire-4 .overlap-group11 {
  height: 27px;
  position: relative;
  width: 29px;
}
.questionnaire-4 .overlap-group2 {
  height: 197px;
  position: relative;
  width: 210px;
}
.questionnaire-4 .overlap-group3 {
  height: 1066px;
  position: relative;
  width: 279px;
}
.questionnaire-4 .overlap-group4 {
  height: 197px;
  margin-left: 19px;
  position: relative;
  width: 211px;
}
.questionnaire-4 .overlap-group5 {
  height: 197px;
  margin-left: 19px;
  position: relative;
  width: 210px;
}
.questionnaire-4 .overlap-group8 {
  height: 197px;
  margin-left: 20px;
  position: relative;
  width: 210px;
}
.questionnaire-4 .path-1122 {
  height: 22px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 25px;
}
.questionnaire-4 .path-1123 {
  height: 23px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 20px;
}
.questionnaire-4 .path-982 {
  align-self: center;
  height: 192px;
  object-fit: cover;
  width: 49px;
}
.questionnaire-4 .path-983 {
  height: 23px;
  object-fit: cover;
  width: 70px;
}
.questionnaire-4 .path-987 {
  height: 2px;
  margin-right: 3.34px;
  margin-top: 9px;
  object-fit: cover;
  width: 1483px;
}
.questionnaire-4 .place {
  left: 75px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 19px;
  width: 69px;
}
.questionnaire-4 .place-1 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 16px;
  margin-top: 4px;
  min-height: 25px;
  min-width: 54px;
  width: 54px;
}
.questionnaire-4 .rectangle-1539 {
  background-color: var(--sheen-green);
  border-radius: 10px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 188px;
}
.questionnaire-4 .rectangle-1539-1 {
  background-color: var(--cerulean);
  border-radius: 10px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 188px;
}
.questionnaire-4 .rectangle-1553 {
  background-color: var(--shark);
  border-radius: 10px;
  box-shadow: 0px 3px 26px #00000029;
  height: 197px;
  left: 0;
  position: absolute;
  top: 0;
  width: 208px;
}
.questionnaire-4 .rectangle-1553-1 {
  background-color: var(--shark);
  border-radius: 10px;
  box-shadow: 0px 3px 26px #00000029;
  height: 197px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 208px;
}
.questionnaire-4 .rectangle-1553-2 {
  border-radius: 10px;
  box-shadow: 0px 3px 26px #00000029;
  height: 197px;
  left: 0;
  position: absolute;
  top: 0;
  width: 208px;
}
.questionnaire-4 .rectangle-1553-3 {
  background-color: var(--shark);
  border-radius: 10px;
  box-shadow: 0px 3px 26px #00000029;
  height: 197px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 208px;
}
.questionnaire-4 .rectangle-1570 {
  background-color: var(--shark);
  box-shadow: 10px 10px 10px #00000029;
  height: 1066px;
  left: 0;
  position: absolute;
  top: 0;
  width: 194px;
}
.questionnaire-4 .rectangle-2 {
  background-color: var(--shark);
  border-radius: 5px;
  box-shadow: 0px 3px 26px #0000001c;
  height: 137px;
  left: 14px;
  position: absolute;
  top: 15px;
  width: 167px;
}
.questionnaire-4 .ring-chart7 {
  align-items: flex-start;
  display: flex;
  height: 237px;
  left: 41px;
  min-width: 238px;
  position: absolute;
  top: 171px;
}
.questionnaire-4 .save-finish-later {
  left: 21px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  width: 149px;
}
.questionnaire-4 .search {
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: 1.5px;
  margin-left: 5px;
  min-height: 25px;
  min-width: 67px;
  width: 67px;
}
.questionnaire-4 .text-318 {
  letter-spacing: 0.32px;
  line-height: 16px;
  margin-bottom: 2.0px;
  margin-left: 11px;
  min-height: 25px;
  min-width: 271px;
  text-align: center;
  width: 271px;
}
.questionnaire-4 .text-319 {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 78.23px;
  margin-top: 100px;
  min-height: 30px;
  min-width: 993px;
  text-align: center;
  width: 993px;
}
.questionnaire-4 .text-32 {
  left: 0;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 114px;
  width: 210px;
}
.questionnaire-4 .text-320 {
  letter-spacing: 0;
  line-height: 14px;
  margin-top: 33px;
  min-height: 85px;
  min-width: 187px;
  text-align: center;
  width: 187px;
}
.questionnaire-4 .text-321 {
  left: 2px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 104px;
  width: 209px;
}
.questionnaire-4 .text-322 {
  left: 1px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 109px;
  width: 210px;
}
.questionnaire-4 .text-323 {
  left: 0;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 104px;
  width: 210px;
}
.questionnaire-4 .text-324 {
  left: 0;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 98px;
  width: 210px;
}
.questionnaire-4 .text-325 {
  left: 0;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 122px;
  width: 210px;
}
