/* screen - self-cert-3 */

.self-cert-3 {
  align-items: flex-start;
  background-color: var(--shark);
  display: flex;
  height: 1080px;
  overflow: hidden;
  width: 1820px;
}
.self-cert-3 .child-support {
  left: 0;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 103px;
  width: 187px;
}
.self-cert-3 .continue {
  left: 57px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  width: 76px;
}
.self-cert-3 .dashboard {
  left: 41px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 115px;
  white-space: nowrap;
}
.self-cert-3 .documents {
  left: 41px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 322px;
  width: 108px;
}
.self-cert-3 .employment {
  left: 509px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 581px;
  width: 96px;
}
.self-cert-3 .enter-amount {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 25px;
  min-width: 135px;
  text-align: center;
  width: 135px;
}
.self-cert-3 .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 298px;
  min-height: 249px;
  position: absolute;
  top: 707px;
  width: 1275px;
}
.self-cert-3 .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 672px;
  min-height: 360px;
  position: absolute;
  top: 297px;
  width: 807px;
}
.self-cert-3 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 27px;
  left: 1313px;
  min-width: 468px;
  position: absolute;
  top: 101px;
}
.self-cert-3 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-top: 112px;
  min-width: 1275px;
}
.self-cert-3 .flex-row-2 {
  align-items: flex-end;
  display: flex;
  height: 181px;
  margin-top: 38px;
  min-width: 807px;
}
.self-cert-3 .fox-face-logo {
  border-radius: 21px;
  height: 41px;
  left: 61px;
  object-fit: cover;
  position: absolute;
  top: 52px;
  width: 72px;
}
.self-cert-3 .foxface-account {
  left: 41px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 368px;
  width: 154px;
}
.self-cert-3 .group-876 {
  align-items: flex-start;
  background-color: var(--sheen-green);
  border-radius: 10px;
  display: flex;
  margin-left: 794px;
  min-width: 188px;
}
.self-cert-3 .group-876-1 {
  align-items: flex-start;
  background-color: var(--sheen-green);
  border-radius: 10px;
  display: flex;
  min-width: 188px;
}
.self-cert-3 .group-889 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 21px;
  min-width: 188px;
}
.self-cert-3 .icon-awesome-business-time {
  height: 36px;
  left: 535px;
  object-fit: cover;
  position: absolute;
  top: 527px;
  width: 45px;
}
.self-cert-3 .icon-awesome-check-circle {
  height: 81px;
  left: 521px;
  object-fit: cover;
  position: absolute;
  top: 527px;
  width: 74px;
}
.self-cert-3 .icon-awesome-check-circle-1 {
  height: 81px;
  left: 56px;
  object-fit: cover;
  position: absolute;
  top: 47px;
  width: 74px;
}
.self-cert-3 .icon-awesome-expand-arrows-alt {
  height: 16px;
  margin-left: 36px;
  margin-top: 1048.62px;
  object-fit: cover;
  width: 17px;
}
.self-cert-3 .icon-awesome-file-contract {
  height: 36px;
  left: 77px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 27px;
}
.self-cert-3 .icon-awesome-hands-helping {
  height: 36px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 45px;
}
.self-cert-3 .icon-awesome-money-check {
  align-self: center;
  height: 32px;
  margin-right: 2.19px;
  object-fit: cover;
  width: 45px;
}
.self-cert-3 .icon-awesome-question-circle {
  height: 35px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: 53px;
  width: 35px;
}
.self-cert-3 .icon-awesome-search {
  align-self: center;
  height: 12px;
  margin-bottom: 4.0px;
  margin-left: 71px;
  object-fit: cover;
  width: 12px;
}
.self-cert-3 .icon-ionic-ios-arrow-back {
  height: 24px;
  margin-top: 3.38px;
  object-fit: cover;
  width: 14px;
}
.self-cert-3 .icon-ionic-md-chatboxes {
  align-items: flex-start;
  display: flex;
  min-width: 29px;
}
.self-cert-3 .logout {
  left: 69px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 987px;
  white-space: nowrap;
}
.self-cert-3 .name {
  height: 38px;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 229.86px;
  min-height: 38px;
  min-width: 120px;
  width: 120px;
}
.self-cert-3 .other-not-listed {
  left: 9px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 100px;
  width: 159px;
}
.self-cert-3 .overlap-group {
  align-items: flex-start;
  background-image: url(../img/path-981-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 237px;
  min-width: 189px;
  padding: 0.0px 0.2px;
}
.self-cert-3 .overlap-group-1 {
  border-radius: 10px;
  height: 54px;
  position: relative;
  width: 188px;
}
.self-cert-3 .overlap-group-2 {
  height: 177px;
  margin-bottom: 0.36px;
  margin-left: 19px;
  position: relative;
  width: 187px;
}
.self-cert-3 .overlap-group1 {
  height: 177px;
  margin-bottom: 0.36px;
  margin-left: 21px;
  position: relative;
  width: 189px;
}
.self-cert-3 .overlap-group12 {
  height: 27px;
  margin-top: 0;
  position: relative;
  width: 29px;
}
.self-cert-3 .overlap-group13 {
  height: 1066px;
  position: relative;
  width: 1781px;
}
.self-cert-3 .overlap-group2 {
  height: 657px;
  left: 0;
  position: absolute;
  top: 0;
  width: 650px;
}
.self-cert-3 .overlap-group3 {
  height: 1066px;
  left: 0;
  position: absolute;
  top: 0;
  width: 279px;
}
.self-cert-3 .overlap-group4 {
  align-items: flex-start;
  background-color: var(--shark);
  border-radius: 10px;
  box-shadow: 0px 3px 26px #00000029;
  display: flex;
  flex-direction: column;
  min-height: 181px;
  padding: 54.9px 39.4px;
  width: 186px;
}
.self-cert-3 .overlap-group5 {
  align-self: center;
  background-color: var(--sheen-green-2);
  border-radius: 10px;
  box-shadow: 0px 3px 26px #00000029;
  height: 177px;
  margin-left: 22px;
  margin-top: 0;
  position: relative;
  width: 182px;
}
.self-cert-3 .overlap-group6 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 50px;
  margin-left: 93.22px;
  margin-top: 11px;
  min-width: 360px;
  padding: 12.0px 13.0px;
}
.self-cert-3 .overlap-group7 {
  align-items: flex-start;
  background-image: url(../img/path-984-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 119px;
  left: 25px;
  min-width: 94px;
  padding: 0.0px 0;
  position: absolute;
  top: 0;
}
.self-cert-3 .path-1122 {
  height: 22px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 25px;
}
.self-cert-3 .path-1123 {
  height: 23px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 20px;
}
.self-cert-3 .path-982 {
  height: 192px;
  object-fit: cover;
  width: 49px;
}
.self-cert-3 .path-983 {
  height: 23px;
  object-fit: cover;
  width: 70px;
}
.self-cert-3 .path-985 {
  height: 96px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 25px;
}
.self-cert-3 .path-986 {
  height: 11px;
  object-fit: cover;
  width: 35px;
}
.self-cert-3 .path-987 {
  height: 2px;
  left: 295px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 1483px;
}
.self-cert-3 .place {
  left: 75px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 19px;
  width: 69px;
}
.self-cert-3 .place-1 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 16px;
  margin-top: 4.0px;
  min-height: 25px;
  min-width: 54px;
  width: 54px;
}
.self-cert-3 .public-assistance {
  left: 1px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 103px;
  width: 188px;
}
.self-cert-3 .rectangle-1539 {
  background-color: var(--sheen-green);
  border-radius: 10px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 188px;
}
.self-cert-3 .rectangle-1539-1 {
  background-color: var(--cerulean);
  border-radius: 10px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 188px;
}
.self-cert-3 .rectangle-1553 {
  background-color: var(--shark);
  border-radius: 10px;
  box-shadow: 0px 3px 26px #00000029;
  height: 177px;
  left: 0;
  position: absolute;
  top: 0;
  width: 186px;
}
.self-cert-3 .rectangle-1553-1 {
  background-color: var(--sheen-green-2);
  border-radius: 10px;
  box-shadow: 0px 3px 26px #00000029;
  height: 181px;
  left: 462px;
  position: absolute;
  top: 476px;
  width: 188px;
}
.self-cert-3 .rectangle-1570 {
  background-color: var(--shark);
  box-shadow: 10px 10px 10px #00000029;
  height: 1066px;
  left: 0;
  position: absolute;
  top: 0;
  width: 194px;
}
.self-cert-3 .rectangle-2 {
  background-color: var(--shark);
  border-radius: 5px;
  box-shadow: 0px 3px 26px #0000001c;
  height: 137px;
  left: 14px;
  position: absolute;
  top: 15px;
  width: 167px;
}
.self-cert-3 .resident {
  left: 295px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 58px;
  width: 203px;
}
.self-cert-3 .ring-chart7 {
  align-items: center;
  display: flex;
  height: 237px;
  left: 41px;
  min-width: 238px;
  position: absolute;
  top: 171px;
}
.self-cert-3 .ring-chart9 {
  height: 119px;
  left: 470px;
  position: absolute;
  top: 496px;
  width: 119px;
}
.self-cert-3 .save-finish-later {
  left: 21px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  width: 149px;
}
.self-cert-3 .search {
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 5px;
  margin-top: 0.5px;
  min-height: 25px;
  width: 67px;
}
.self-cert-3 .social-security {
  letter-spacing: 0;
  line-height: 14px;
  margin-top: 17px;
  min-height: 22px;
  min-width: 107px;
  text-align: center;
  width: 107px;
}
.self-cert-3 .source-of-income {
  letter-spacing: 0;
  line-height: 25px;
  margin-right: 225.14px;
  margin-top: 32px;
  min-height: 37px;
  min-width: 272px;
  text-align: center;
  width: 272px;
}
.self-cert-3 .surname {
  letter-spacing: 0;
  line-height: 14px;
  margin-right: 109.78px;
  min-height: 22px;
  min-width: 159px;
  text-align: center;
  width: 159px;
}
.self-cert-3 .text-140 {
  left: 298px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 203px;
  width: 1418px;
}
.self-cert-3 .text-141 {
  letter-spacing: 0;
  line-height: 14px;
  margin-right: 224.14px;
  margin-top: 11px;
  min-height: 22px;
  min-width: 145px;
  text-align: center;
  width: 145px;
}
.self-cert-3 .text-142 {
  letter-spacing: 0.32px;
  line-height: 16px;
  margin-left: 11px;
  min-height: 25px;
  min-width: 271px;
  text-align: center;
  width: 271px;
}
