/* screen - self-cert-12 */

.self-cert-12 {
  align-items: flex-start;
  background-color: var(--shark);
  display: flex;
  height: 1080px;
  width: 1820px;
}
.self-cert-12 .dashboard {
  left: 41px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 115px;
  white-space: nowrap;
}
.self-cert-12 .documents {
  left: 41px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 322px;
  width: 108px;
}
.self-cert-12 .edit-amount {
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 0;
  width: 100px;
}
.self-cert-12 .edit-amount-1 {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 25px;
  width: 100px;
}
.self-cert-12 .edit-amount-2 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 34px;
  min-height: 25px;
  width: 100px;
}
.self-cert-12 .edit-amount-3 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 29px;
  min-height: 25px;
  width: 100px;
}
.self-cert-12 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 57.5px;
  min-height: 862px;
  width: 1486px;
}
.self-cert-12 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 253px;
  width: 204px;
}
.self-cert-12 .flex-col-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  min-height: 252px;
  width: 243px;
}
.self-cert-12 .flex-col-3 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 65px;
  margin-top: 1.0px;
  min-height: 192px;
  width: 100px;
}
.self-cert-12 .flex-row {
  align-items: flex-end;
  display: flex;
  height: 70px;
  margin-left: 0.34px;
  min-width: 1486px;
}
.self-cert-12 .flex-row-1 {
  align-items: flex-end;
  display: flex;
  margin-left: 3.34px;
  margin-top: 28px;
  min-width: 1292px;
}
.self-cert-12 .fox-face-logo {
  border-radius: 21px;
  height: 41px;
  left: 61px;
  object-fit: cover;
  position: absolute;
  top: 52px;
  width: 72px;
}
.self-cert-12 .foxface-account {
  left: 41px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 368px;
  width: 154px;
}
.self-cert-12 .group-876 {
  align-items: flex-start;
  background-color: var(--sheen-green);
  border-radius: 10px;
  display: flex;
  margin-left: 811px;
  min-width: 188px;
}
.self-cert-12 .group-876-1 {
  align-items: flex-start;
  background-color: var(--sheen-green);
  border-radius: 10px;
  display: flex;
  min-width: 188px;
}
.self-cert-12 .group-889 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 21px;
  min-width: 188px;
}
.self-cert-12 .household-member {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 30px;
  min-width: 204px;
  text-align: center;
  width: 204px;
}
.self-cert-12 .icon-awesome-search {
  height: 12px;
  margin-bottom: 9.27px;
  margin-left: 71px;
  object-fit: cover;
  width: 12px;
}
.self-cert-12 .icon-ionic-ios-arrow-back {
  height: 24px;
  margin-bottom: 3.38px;
  object-fit: cover;
  width: 14px;
}
.self-cert-12 .icon-ionic-md-chatboxes {
  align-items: flex-start;
  display: flex;
  margin-left: 815px;
  min-width: 29px;
}
.self-cert-12 .income-from-assets {
  align-self: center;
  letter-spacing: 0;
  line-height: 25px;
  margin-right: 43.66px;
  margin-top: 11px;
  min-height: 37px;
  min-width: 256px;
  width: 256px;
}
.self-cert-12 .income-from-assets-1 {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 30px;
  min-width: 243px;
  text-align: center;
  width: 243px;
}
.self-cert-12 .keep-going {
  left: 44px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  width: 102px;
}
.self-cert-12 .logout {
  left: 69px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 987px;
  white-space: nowrap;
}
.self-cert-12 .name {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 27px;
  min-height: 30px;
  width: 101px;
}
.self-cert-12 .name-1 {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 22px;
  min-height: 30px;
  width: 125px;
}
.self-cert-12 .number {
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 27.0px;
  margin-top: 27px;
  min-height: 30px;
  min-width: 88px;
  text-align: center;
  width: 88px;
}
.self-cert-12 .overlap-group {
  align-items: flex-start;
  background-image: url(../img/path-981-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 237px;
  min-width: 189px;
  padding: 0.0px 0.2px;
}
.self-cert-12 .overlap-group-1 {
  border-radius: 10px;
  height: 54px;
  position: relative;
  width: 188px;
}
.self-cert-12 .overlap-group-2 {
  align-items: flex-start;
  background: linear-gradient(262.27deg, #262b2f 14.81%, rgba(0, 163, 224, 0.09) 105.82%);
  border-radius: 10px;
  display: flex;
  height: 327px;
  margin-top: 16px;
  min-width: 1483px;
  padding: 16.0px 21.0px;
}
.self-cert-12 .overlap-group1 {
  height: 1066px;
  position: relative;
  width: 279px;
}
.self-cert-12 .overlap-group2 {
  align-items: flex-start;
  background: linear-gradient(265.78deg, #262b2f 14.08%, rgba(0, 163, 224, 0.09) 105.8%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  min-height: 178px;
  padding: 24.0px 21.0px;
  width: 1483px;
}
.self-cert-12 .overlap-group3 {
  height: 25px;
  margin-top: 29px;
  position: relative;
  width: 100px;
}
.self-cert-12 .overlap-group8 {
  height: 27px;
  margin-top: 0;
  position: relative;
  width: 29px;
}
.self-cert-12 .path-1122 {
  height: 22px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 25px;
}
.self-cert-12 .path-1123 {
  height: 23px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 20px;
}
.self-cert-12 .path-982 {
  height: 192px;
  object-fit: cover;
  width: 49px;
}
.self-cert-12 .path-983 {
  height: 23px;
  object-fit: cover;
  width: 70px;
}
.self-cert-12 .path-987 {
  height: 2px;
  margin-left: 0.33px;
  margin-top: 9px;
  object-fit: cover;
  width: 1483px;
}
.self-cert-12 .place {
  left: 75px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 19px;
  width: 69px;
}
.self-cert-12 .place-1 {
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 1.38px;
  margin-left: 16px;
  min-height: 25px;
  min-width: 54px;
  width: 54px;
}
.self-cert-12 .please-confirm {
  align-self: center;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 44.66px;
  margin-top: 17px;
  min-height: 30px;
  min-width: 167px;
  width: 167px;
}
.self-cert-12 .price {
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 27.0px;
  margin-top: 19px;
  min-height: 30px;
  min-width: 88px;
  text-align: center;
  width: 88px;
}
.self-cert-12 .price-1 {
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 27.0px;
  margin-top: 29px;
  min-height: 30px;
  min-width: 88px;
  text-align: center;
  width: 88px;
}
.self-cert-12 .price-2 {
  height: 53px;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: 26px;
  min-height: 53px;
  width: 162px;
}
.self-cert-12 .rectangle-1539 {
  background-color: var(--sheen-green);
  border-radius: 10px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 188px;
}
.self-cert-12 .rectangle-1539-1 {
  background-color: var(--cerulean);
  border-radius: 10px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 188px;
}
.self-cert-12 .rectangle-1570 {
  background-color: var(--shark);
  box-shadow: 10px 10px 10px #00000029;
  height: 1066px;
  left: 0;
  position: absolute;
  top: 0;
  width: 194px;
}
.self-cert-12 .rectangle-2 {
  background-color: var(--shark);
  border-radius: 5px;
  box-shadow: 0px 3px 26px #0000001c;
  height: 137px;
  left: 14px;
  position: absolute;
  top: 15px;
  width: 167px;
}
.self-cert-12 .resident {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 15px;
  min-height: 58px;
  min-width: 203px;
  width: 203px;
}
.self-cert-12 .ring-chart7 {
  align-items: center;
  display: flex;
  height: 237px;
  left: 41px;
  min-width: 238px;
  position: absolute;
  top: 171px;
}
.self-cert-12 .save-finish-later {
  left: 21px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  width: 149px;
}
.self-cert-12 .search {
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: 1.5px;
  margin-left: 5px;
  min-height: 25px;
  min-width: 67px;
  width: 67px;
}
.self-cert-12 .text-161 {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 30px;
  width: 270px;
}
.self-cert-12 .text-162 {
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 3.34px;
  margin-top: 13px;
  min-height: 41px;
  width: 556px;
}
.self-cert-12 .text-163 {
  letter-spacing: 0.32px;
  line-height: 16px;
  margin-bottom: 2.0px;
  margin-left: 11px;
  min-height: 25px;
  min-width: 271px;
  text-align: center;
  width: 271px;
}
