/* screen - web-1920-42 */

.web-1920-42 {
  align-items: flex-start;
  background-color: var(--shark);
  display: flex;
  overflow: hidden;
  width: 1820px;
}
.web-1920-42 .amount {
  align-self: flex-end;
  letter-spacing: 0.40px;
  line-height: 20px;
  margin-left: 322px;
  min-height: 30px;
  min-width: 110px;
  width: 110px;
}
.web-1920-42 .applicant {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 15px;
  min-height: 58px;
  min-width: 220px;
  width: 220px;
}
.web-1920-42 .business-income {
  letter-spacing: 0.40px;
  line-height: 20px;
  min-height: 30px;
  width: 467px;
}
.web-1920-42 .dashboard {
  left: 110px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 115px;
  white-space: nowrap;
}
.web-1920-42 .documents {
  left: 110px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 322px;
  width: 108px;
}
.web-1920-42 .enter-amount {
  letter-spacing: 0.32px;
  line-height: 16px;
  min-height: 25px;
  min-width: 134px;
  width: 134px;
}
.web-1920-42 .enter-amount-1 {
  left: 653px;
  letter-spacing: 0.32px;
  line-height: 16px;
  position: absolute;
  top: 66px;
  width: 134px;
}
.web-1920-42 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 57.5px;
  min-height: 944px;
  width: 1502px;
}
.web-1920-42 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 129px;
  width: 1182px;
}
.web-1920-42 .flex-row {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  height: 70px;
  min-width: 1486px;
}
.web-1920-42 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 31px;
  margin-left: 46px;
  margin-top: 19px;
  min-width: 660px;
}
.web-1920-42 .flex-row-2 {
  align-items: flex-end;
  display: flex;
  margin-left: 46px;
  margin-top: 39px;
  min-width: 768px;
}
.web-1920-42 .flex-row-3 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 22px;
  margin-right: 186.0px;
  margin-top: 63px;
  min-width: 736px;
}
.web-1920-42 .flex-row-4 {
  align-items: flex-end;
  display: flex;
  margin-left: 16.0px;
  margin-top: 69px;
  min-width: 1350px;
}
.web-1920-42 .fox-face-logo {
  border-radius: 21px;
  height: 41px;
  left: 130px;
  object-fit: cover;
  position: absolute;
  top: 52px;
  width: 72px;
}
.web-1920-42 .foxface-account {
  left: 110px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 368px;
  width: 154px;
}
.web-1920-42 .from-date {
  left: 0;
  letter-spacing: 0.40px;
  line-height: 20px;
  position: absolute;
  top: 7px;
  width: 155px;
}
.web-1920-42 .group-876 {
  align-items: flex-start;
  background-color: var(--sheen-green);
  border-radius: 10px;
  display: flex;
  margin-left: 869px;
  min-width: 188px;
}
.web-1920-42 .group-876-1 {
  align-items: flex-start;
  background-color: var(--sheen-green);
  border-radius: 10px;
  display: flex;
  margin-left: 21px;
  min-width: 188px;
}
.web-1920-42 .icon-awesome-search {
  height: 12px;
  margin-bottom: 9.27px;
  margin-left: 71px;
  object-fit: cover;
  width: 12px;
}
.web-1920-42 .icon-ionic-ios-arrow-back {
  height: 24px;
  margin-bottom: 3.38px;
  object-fit: cover;
  width: 14px;
}
.web-1920-42 .icon-ionic-ios-arrow-down {
  height: 9px;
  left: 207px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 15px;
}
.web-1920-42 .icon-ionic-ios-arrow-down-1 {
  height: 9px;
  object-fit: cover;
  width: 15px;
}
.web-1920-42 .icon-ionic-md-chatboxes {
  align-items: flex-end;
  display: flex;
  margin-left: 803px;
  min-width: 29px;
}
.web-1920-42 .income-period {
  letter-spacing: 0.40px;
  line-height: 20px;
  min-height: 30px;
  min-width: 228px;
  width: 228px;
}
.web-1920-42 .logout {
  left: 138px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 987px;
  white-space: nowrap;
}
.web-1920-42 .overlap-group {
  align-items: flex-start;
  background-image: url(../img/path-981-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 237px;
  margin-top: 0;
  min-width: 189px;
  padding: 0 0.2px;
}
.web-1920-42 .overlap-group-1 {
  border-radius: 10px;
  height: 54px;
  position: relative;
  width: 188px;
}
.web-1920-42 .overlap-group-2 {
  align-items: flex-start;
  background: linear-gradient(257.79deg, #262b2f 16.32%, rgba(0, 163, 224, 0.09) 105.85%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  min-height: 522px;
  padding: 19px 16px;
  width: 1484px;
}
.web-1920-42 .overlap-group1 {
  height: 1066px;
  margin-left: -69px;
  position: relative;
  width: 348px;
}
.web-1920-42 .overlap-group10 {
  height: 120px;
  margin-left: 46px;
  margin-top: 55px;
  position: relative;
  width: 1136px;
}
.web-1920-42 .overlap-group11 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 37px;
  justify-content: flex-end;
  margin-left: 3px;
  min-width: 111px;
  padding: 12.8px 12.3px;
}
.web-1920-42 .overlap-group2 {
  align-items: flex-start;
  background-image: url(../img/path-981@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 237px;
  left: 49px;
  min-width: 188px;
  position: absolute;
  top: 0;
}
.web-1920-42 .overlap-group7 {
  height: 27px;
  position: relative;
  width: 29px;
}
.web-1920-42 .overlap-group8 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 37px;
  margin-left: 80px;
  min-width: 218px;
  padding: 0 5px;
}
.web-1920-42 .overlap-group9 {
  height: 37px;
  position: relative;
  width: 234px;
}
.web-1920-42 .path-1122 {
  height: 22px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 25px;
}
.web-1920-42 .path-1123 {
  height: 23px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 20px;
}
.web-1920-42 .path-982 {
  align-self: center;
  height: 192px;
  object-fit: cover;
  width: 49px;
}
.web-1920-42 .path-982-1 {
  height: 192px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 49px;
}
.web-1920-42 .path-983 {
  height: 23px;
  object-fit: cover;
  width: 70px;
}
.web-1920-42 .path-987 {
  align-self: flex-end;
  height: 2px;
  margin-right: 3.34px;
  margin-top: 9px;
  object-fit: cover;
  width: 1483px;
}
.web-1920-42 .place {
  left: 75px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 19px;
  width: 69px;
}
.web-1920-42 .place-1 {
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 1.38px;
  margin-left: 16px;
  min-height: 25px;
  min-width: 54px;
  width: 54px;
}
.web-1920-42 .rectangle-1539 {
  background-color: var(--sheen-green);
  border-radius: 10px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 188px;
}
.web-1920-42 .rectangle-1539-1 {
  background-color: var(--cerulean);
  border-radius: 10px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 188px;
}
.web-1920-42 .rectangle-1570 {
  background-color: var(--shark);
  box-shadow: 10px 10px 10px #00000029;
  height: 1066px;
  left: 69px;
  position: absolute;
  top: 0;
  width: 194px;
}
.web-1920-42 .rectangle-2 {
  background-color: var(--shark);
  border-radius: 5px;
  box-shadow: 0px 3px 26px #0000001c;
  height: 137px;
  left: 83px;
  position: absolute;
  top: 15px;
  width: 167px;
}
.web-1920-42 .rectangle-2973 {
  background-color: var(--white);
  height: 37px;
  left: 123px;
  position: absolute;
  top: 0;
  width: 111px;
}
.web-1920-42 .rectangle-2980 {
  background-color: var(--white);
  height: 15px;
  margin-bottom: 3.0px;
  width: 15px;
}
.web-1920-42 .rectangle-2985 {
  background-color: var(--white);
  height: 37px;
  left: 647px;
  position: absolute;
  top: 59px;
  width: 218px;
}
.web-1920-42 .ring-chart7 {
  align-items: flex-start;
  display: flex;
  height: 237px;
  left: 110px;
  min-width: 238px;
  position: absolute;
  top: 171px;
}
.web-1920-42 .ring-chart7-1 {
  height: 237px;
  left: 0;
  position: absolute;
  top: 180px;
  width: 237px;
}
.web-1920-42 .save-finish-later {
  left: 21px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  width: 149px;
}
.web-1920-42 .search {
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: 1.5px;
  margin-left: 5px;
  min-height: 25px;
  min-width: 67px;
  width: 67px;
}
.web-1920-42 .submit {
  left: 66px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  width: 59px;
}
.web-1920-42 .text-328 {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 16px;
  margin-top: 20px;
  min-height: 41px;
  width: 1409px;
}
.web-1920-42 .text-329 {
  letter-spacing: 0.32px;
  line-height: 16px;
  margin-bottom: 2.0px;
  margin-left: 5px;
  min-height: 25px;
  min-width: 271px;
  text-align: center;
  width: 271px;
}
.web-1920-42 .text-330 {
  letter-spacing: 0.40px;
  line-height: 20px;
  margin-top: 19px;
  min-height: 30px;
  width: 1182px;
}
.web-1920-42 .text-331 {
  letter-spacing: 0.28px;
  line-height: 14px;
  margin-left: 29px;
  min-height: 22px;
  min-width: 692px;
  width: 692px;
}
.web-1920-42 .text-332 {
  left: 0;
  letter-spacing: 0.40px;
  line-height: 20px;
  position: absolute;
  top: 0;
  width: 1136px;
}
.web-1920-42 .to-date {
  letter-spacing: 0.40px;
  line-height: 20px;
  margin-left: 29px;
  min-height: 30px;
  min-width: 93px;
  width: 93px;
}
.web-1920-42 .under-penalty-of-per {
  letter-spacing: 0.32px;
  line-height: 16px;
  margin-left: 16px;
  margin-top: 52px;
  min-height: 75px;
  width: 1330px;
}
